#root {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  position: relative;
  transform-style: preserve-3d;
  transition: 1500ms;
}

.card:hover {
  transform: rotateX(180deg);
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  opacity: .50;
}


.back {
  transform: rotateX(180deg);
}

.button-panel {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
}

.button-panel > button {
  width: 100px;
  height: 25px;
}
