#root {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  position: relative;
  transform-style: preserve-3d;
  transition: 1000ms;
  background-color: rgba(255, 255, 255, 0.535);
  perspective: 1000px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.45);
}

.card:hover {
  cursor: pointer;
}

.flipped {
  transform: rotateX(180deg);
}

.easy {
  background-color: rgba(0, 255, 38, 0.461);
}

.medium {
  background-color: rgba(205, 221, 25, 0.6);
}

.hard {
  background-color: rgba(233, 16, 16, 0.528);
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-size: 2rem;
  font-weight: 100;
}

.back {
  transform: rotateX(180deg);
}

.button-panel {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
}

.button-panel > button {
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 10px;
  border-style: none;
}

button:hover, .submit-answer:hover {
  transform: scale(1.1);
}

#prevBtn {
  background-color: rgba(247, 3, 3, 0.845);
}

#nextBtn {
  background-color: rgba(9, 247, 9, 0.473);
}

form {
  margin-top: 2rem;
  width: Min(500px, 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-input {
  border-radius: 1.5rem;
  background-color:azure;
  appearance: none;
  border-color: transparent;
  border-width: 5px;
  box-shadow: none;
  padding: 0;
  font-size: 16px;
  width: 75%;
  text-align: center;
  outline: none;
}

.user-input:hover {
  outline-style:groove;
}

.submit-answer {
  /* https://getcssscan.com/css-buttons-examples Button 29*/
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #2eabcd 0, #664074 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
} 

.correct {
  border-color: green;
}

.wrong {
  border-color: red;
}
